#zhengye {
    width: 1200px;
    height: 600px;
    position: absolute;
    background-color: antiquewhite;
}

#zuo1 {
    width: 500px;
    height: 600px;
    float: left;
    position: absolute;
    background-color: red;
}
#you1 {
    width: 500px;
    height: 300px;
    float: right;
    /* text-align:center; */
    position: relative;
    background-color: rebeccapurple;
}
#imgdiv {
    width: 100px;
    height: 120px;
    margin: auto;
    left: 0;right: 0;top: 0;bottom: 0;
    position: absolute;
}
#img1 {
    width: 80px;
    height: 100px;
    
    padding: 10px;
}

#zuo11 {
    width: 200px;
    height: 100px;
    background-color: royalblue;
    padding: 20px;
    margin: 20px;
}